{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block section_content %}

    <p>
    <label>Resources type list</label>
        <select name="resourcetype">
            {% for resourcetype in resourcetypelist %}
                <option value="{{ resourcetype.id }}">{{ resourcetype.name  | trans({}, 'resource') }}</option>
            {% endfor %}
        </select>
    </p>

    <p>
        <label>User List</label>
        <select name="user">
            {% for user in userlist %}
                <option value="{{ user.id }}">{{ user.lastName }} {{ user.firstName }}</option>
            {% endfor %}
        </select>
    </p>

    <p>
        <label>Group list</label>
        <select name="group">
            {% for group in grouplist %}
                <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
        </select>
    </p>

    <p>
        <label>List of ressources for activity</label>
        <ul>
            {% for activity in activitylist %}
                <li><u>{{ activity.title }} (id:{{ activity.id }}, nodeid:{{ activity.resourceNode.id }})</u><br>
                    - primaryResource: {{ activity.primaryResource.name }} (nodeid:{{ activity.primaryResource.id }})<br>
                    - secondaryResources : {% for secres in activity.parameters.secondaryResources %}
                    <ul>
                        <li>{{ secres.name }} (nodeid: {{ secres.id }})</li>
                    </ul>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </p>

    <p>
        <label>List of log infos</label>

        <div class='logs-list'>
            <div class="row">
            <div class="col-md-2 log_list_item_head">
                {{'log id'}}
            </div>
            <div class="col-md-2 log_list_item_head">
                {{'date'}}
            </div>
            <div class="col-md-2 log_list_item_head">
                {{'action'}}
            </div>
            <div class="col-md-3 log_list_item_head">
                {{'resourceNode'}}
            </div>
        </div>

        {% for log in logusersummarylist.pager.currentPageResults %}
        <div class="row">
            <div class="col-md-2 log_list_item">{{ log.getId }}</div>
            <div class="col-md-2 log_list_item">{{ log.getDateLog()|date('date_format') }}</div>
            <div class="col-md-2 log_list_item">{{ log.getAction() }}</div>
            <div class="col-md-3 log_list_item">
            {% if log.details.resource is defined%}
                {% if log.resourceNode != null %}
                   nodeid= {{ log.resourceNode.id }}<br>
                    wsid = {{ log.workspace.id }}<br>
                    resourcetypeId = {{ log.resourceType.id }}<br>
                    resourcetypeName = {{ log.resourceType.name }}<br>
                {% endif %}
                resource path = {{ log.details.resource.path }}<br>
                doerIP = {{ log.doerip }}<br>
                doerType = {{ log.doertype }}<br>
                doerSessionId = {{ log.doersessionid }}<br>
            {% endif %}
            </div>

          {# {{ logusersummarylist.listItemView|raw }} #}
            {% if logusersummarylist.listItemViews[log.getId()] is defined %}
                {# {% include 'ClarolineCoreBundle:Log:view_list_item.html.twig' with {'isDesktop': isDesktop, 'listItemView': listItemViews[log.getId()]} %} #}
            {% else %}
                {# {% include 'ClarolineCoreBundle:Log:view_list_item.html.twig' with {'isDesktop': isDesktop} %} #}
            {% endif %}

        </div>
        {% endfor %}
{##}
        </div>

    </p>
{% endblock %}