{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block section_content %}
    <div class="panel-body">
    <p>
    <label>Resources type list</label>
        <select name="resourcetype">
            {% for resourcetype in resourcetypelist %}
                <option value="{{ resourcetype.id }}">{{ resourcetype.name  | trans({}, 'resource') }}</option>
            {% endfor %}
        </select>
    </p>

    <p>
        <label>User List</label>
        <select name="user">
            {% for user in userlist %}
                <option value="{{ user.id }}">{{ user.lastName }} {{ user.firstName }}</option>
            {% endfor %}
        </select>
    </p>

    <p>
        <label>Group list</label>
        <select name="group">
            {% for group in grouplist %}
                <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
        </select>
    </p>

    <p>
        <label>List of ressources for activity</label>
        <ul>

            {% for activity in activitylist %}
                <li><u>{{ activity.title }} (id:{{ activity.id }}, nodeid:{{ activity.resourceNode.id }})</u><br>
                    {% if activity.primaryResource != null %}
                    - primaryResource: {{ activity.primaryResource.name }} (nodeid:{{ activity.primaryResource.id }})<br>
                    - secondaryResources :
                        {% for secres in activity.parameters.secondaryResources %}
                        <ul>
                            <li>{{ secres.name }} (nodeid: {{ secres.id }})</li>
                        </ul>
                        {% endfor %}
                    {% endif %}
                </li>
            {% endfor %}

        </ul>
    </p>

    <p>
        <label>List of log infos</label>

        <div class='logs-list'>
            <div class="row">
            <div class="col-md-2 log_list_item_head">
                {{'log id'}}
            </div>
            <div class="col-md-2 log_list_item_head">
                {{'date'}}
            </div>
            <div class="col-md-2 log_list_item_head">
                {{'action'}}
            </div>
            <div class="col-md-6 log_list_item_head">
                {{'resourceNode'}}
            </div>
        </div>

        {% for log in logusersummarylist.pager.currentPageResults %}
        <div class="row">
            <div class="col-md-2 log_list_item">{{ log.getId }}</div>
            <div class="col-md-2 log_list_item">{{ log.getDateLog()|date('date_format') }}</div>
            <div class="col-md-2 log_list_item">{{ log.getAction() }}</div>
            <div class="col-md-6 log_list_item">
            {% if log.details.resource is defined%}
                <div class="col-md-6 log_list_item">
                {% if log.resourceNode != null %}
                    ({{ log.resourceNode.id }}) {{ log.resourceNode.name }}<br>
                    ({{ log.resourceType.id }}) {{ log.resourceType.name }}<br>
                {% endif %}
                    wsid = {{ log.workspace.id }}, rpath = {{ log.details.resource.path }}
                </div>
                <div class="col-md-6 log_list_item">
                doerType = {{ log.doertype }} ({{ log.doerip }})<br>
                doerSessionId = {{ log.doersessionid }}<br>
                </div>
            {% endif %}
            </div>


        </div>
        {% endfor %}

        </div>
    </p>

        {# display of custom log search #}
            {% for log in logcustom %}
                {{ log.id }}
                ({{ log.action }})
                {{ log.details.resource.path }} -  {{ log.details.workspace.name }} [DOER :{{ log.doer.id }} -> {{ log.details.doer.firstName ~ " " ~  log.details.doer.lastName}}]
                {% if resourcetypename == 'ujm_exercise' and log.action == 'resource-ujm_exercise-exercise_evaluated' %}
                    exercise{{ log.details.exercise.id }}:{{ log.details.exercise.name }},{{ log.details.exercise.title }}, result{{ log.details.result }},resultMax: {{ log.details.resultMax }},
                {% elseif resourcetypename == 'claroline_forum' %}
                    Resource{{ log.details.resource.name }},
                    {% if log.details.message is defined %}
                        Message {{ log.details.message.id }},
                        subject {{ log.details.subject.id }},
                        category {{ log.details.category.id }},
                        forum {{ log.details.forum.id }}
                    {% endif %}
                {% endif %}
                <br>
            {% endfor %}

        {#       #}
    </div>
{% endblock %}