{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block title %}{{ _resource.getResourceNode().getName() | striptags | raw }}{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ _resource.getResourceNode().getName() }}</h3>
    </div>
        <div class="panel-body">
The resource id is {{  _resource.id }}
from {{ from.username }}
            <ul>{% for user in users %}
                    <li>{{ user.id }} ({{ user.username }}) can open this resource</li>
                {% endfor %}</ul>
        </div>
        <div class="panel-footer">

    <a class="btn btn-primary" data-toggle="tooltip" title="{{ 'back'|trans }}" href="{{ path('claro_desktop_open_tool', { 'toolName': 'resource_manager' }) ~ "#resources/" ~ entity.getResourceNode().getParent().getId() }}">
        <i class="fa fa-arrow-left"></i> {{ 'back' | trans }}
    </a>

        </div>

{% endblock %}
